@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: rgb(0,25,36);
    background: linear-gradient(43deg, rgba(0,25,36,1) 0%, rgba(9,96,121,1) 49%, rgba(0,212,255,0.45135446175637395) 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Open Sans', sans-serif;
    color: #001924;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover {
    color: #004969;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #001924;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 15px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: aliceblue;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;
}

.conteudo-principal-escrito-botao {
    background-color: aliceblue;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #001924;
    cursor: pointer;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    margin-left: 15px;
    margin-right: 15px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #001924;
    padding-top: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: aliceblue;
    text-align: center;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #001924;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}

.rodape-copyright {
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    font-size: 12px;
    padding-top: 15px;
    text-align: center;
}

.rodape-copyright a {
    color: aliceblue;
}

.rodape-copyright a:hover {
    color: #001924;
}

.podcast-conteudo-escrito-logo {
    padding-top: 30px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.qr-code-pix {
    padding-top: 30px;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.conteudo-principal-escrito-titulo-podcast {
    margin: 30px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: aliceblue;
    text-align: center;
}

.podcast-conteudo-escrito-botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.conteudo-principal-escrito-botao-podcast {
    background-color: aliceblue;
    width: 130px;
    height: 50px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #001924;
    cursor: pointer;
}

.conteudo-principal-escrito-botao-podcast:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.iframe-spotify {
    margin-top: 15px;
}

.link-para-pix {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: aliceblue;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 12px;
}

.apoio-podcast {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.texto-indicacao-sinopse {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: aliceblue;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
}

.titulo-indicacao {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.bloco-indicacao {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 35px;
    margin-right: 35px;
}

.links-de-afiliados {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 24px;
    margin-top: 48px;
    margin-left: 35px;
    margin-right: 35px;
}

.titulo-pagina-indicacao {
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 38px;
    color: aliceblue;
    text-align: center;
}

.titulo-indicacao {
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;
}

.link-indicacao {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: aliceblue;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: underline;
}

.link-pagina-podcast {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    text-decoration: underline;
}

.link-indicacao:hover {
    color: #004969;
}

.link-pagina-podcast:hover {
    color: #004969;
}

.imagem-indicacao {
    width: 15%;
}

@media only screen and (max-width: 600px) {

    .cabecalho {
        padding: 10px 0px;
    }

    .cabecalho-menu {
        gap: 10px;
    }

    .cabecalho-imagem {
        display: none;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: 20px;
        margin-top: 30px;
    }

    .podcast-conteudo-escrito-botoes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 30px;
        align-items: center;
    }

    .conteudo-principal-escrito-botao-podcast {
        margin-bottom: 10px;
    }

    .conteudo-principal-imagem {
        height: 250px;
    }

    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .conteudo-secundario-titulo {
        text-align: center;
    }

    .conteudo-secundario-paragrafo {
        text-align: center;
        font-size: 13px;
        color: aliceblue;
    }

    .imagem-indicacao {
        width: 35%;
    }

    .qr-code-pix {
        size: 50%;
    }
}